SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
TIME_ZONE=America/Edmonton

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=replace-me
DB_HOST=database-1.cfc84ock4e6y.us-west-2.rds.amazonaws.com
DB_PORT=5432
DB_SECRET_ARN=arn:aws:secretsmanager:us-west-2:440744249877:secret:rds!db-74baf849-1877-4fc9-9ffe-c2e19bda8aaa-UQDnpv
DB_CONN_MAX_AGE=60
DB_SSL_MODE=verify-full
DB_SSL_ROOT_CERT=global-bundle.pem
